body{
    margin-left: 47.5px;
}
@font-face {
    font-family: Germania One;
    src: url(./Fonts/GermaniaOne-Regular.ttf);
}
@font-face {
    font-family: Lexend;
    src: url(./Fonts/Lexend-Bold.ttf);
}
#head-1{
    position: absolute;
    width: 1440px;
    height: 32px;
    left: 40px;
    color: #F1F1F1;
    background-color: black;
    /* left: calc(50% - 1440px/2); */
}
#tel{
    position: absolute;
    width: 120px;
    height: 15px;
    top: 4px;
    left: 130.64px;
    float: left;
}
#addres{
    position: absolute;
    width: 250px;
    height: 15px;
    top: 4px;
    left: 269px;

}
#star{
    position: absolute;
    width: 257px;
    height: 15px;
    top: 4px;
    left: 1100px;

}
#head-2{
    position: absolute;
    background-color: #FBFBFB;
    width: 1440px;
    height: 120px;
    left: 40px;
    top: 32px;
}
#head-2 a{
    text-decoration: none;
    color: black;
}
#cordes{
    position: absolute;
    width: 120px;
    height: 50px;
    left: 130px;
    top: -13px;
    float: left;

    font-family: Germania One;
    font-size: 43px;
    line-height: 50px;
    font-style: normal;
    font-weight: normal;
}
/**/
#head-2 #gend{
    position: absolute;
    left: 318px;
    top: 50px;
}
.gender{
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 20px;
    margin-right: 40px;
}
.gender:hover{
    border-bottom: 2px solid black;
}
/**/
#head-2 #frm1{
    position: absolute;
    width: 380px;
    height: 38px;
    left: 530px;
    top: 41px;
}
#search-h{
    width: 280px;
    height: 38px;
    border: 1px solid gray;
}
#head-2 form div{
    width: 100px;
    height: 42px;
    color: white;
    background-color: black;
    position: absolute;
    left: 282px;
    top: 0;
}
#head-2 form div input{
    position: absolute;
    top: 11px;
    left: 30px;
    background: black;
    border: 0;
    color: white;
}
.ti-search{
    position: absolute;
    top: 11px;
    left: 12px;
}
/**/

#head-2 .account{
    position: absolute;
    left: 980px;
    top: 42px;
}
.account select{
    position: absolute;
    border: 0;
    left: 80px;
    top: 16px;
}
.account nav{
    position: absolute;
    width: 60px;
    left: 30px;
    top: -5px;
}
/**/
.Whishlist{
    position: absolute;
    left: 1146px;
    top: 47px;
}
.Whishlist a{
    position: absolute;
    left: 40px;
}
/**/
.store{
    position: absolute;
    left: 1302px;
    top: 47px;
}
.store a{
    position: absolute;
    left: 27px;
}
/**/
#menu{
    position: absolute;
    width: 1440px;
    height: 50px;
    top: 120px;
    background: white;
    mix-blend-mode: normal;
}
#menu ul{
    display: block;
    width: 1123px;
    height: 50px;
    margin-left: 130px;
    margin-top: 0px;
    padding-top: 16px;
    padding-left: 140px;
    border-top: 1px solid rgb(243, 237, 237);
}
.menu1{
    display: block;
    width: 1px;
    height: 16px;
    padding-right: 10px;
}
#menu li{
    list-style: none;
    text-decoration: none;
    display: block;
    width: auto;
    height: 18px;
    float: left;
}
#menu li a{
    text-decoration: none;
    color: black;
}
#menu .menu1{
    display: block;
    width: 1px;
    height: 16px;
    padding-right: 23px;
    padding-left: 23px;
    color: rgb(243, 237, 237);

}
.banner{
    position: absolute;
    width: 1440px;
    height: 598px;
    top: 202px;
    left: 40px;
    background-color: #ccddef;
}
#router{
    position: absolute;
    width: 750px;
    left: 130px;
    top: 90px;
    font-size: 58px;
    font-family: Lexend;
    z-index: 2;
}
#discover{
    position: absolute;
    left: 130px;
    top: 400px;
    width: 121px;
    height: 38px;
    color: white;
    background-color: black;
}
#watch{
    position: absolute;
    left: 400px;
    top: 400px;
    width: auto;
    height: 27px;
}
#watch p{
    padding-left: 35px; 
    margin-top: -29px;
    font-size: 14px;
    line-height: 17px;
}
#vantruot{
    position: absolute;
    left: 800px;
    width: auto;
    z-index: 2;
}
#vantruot1{
    position: absolute;
    width: 735px;
    height: 460px;
    background-color: #d4f4ff;
    left: 625px;
    top: 70px;
    z-index: 1;
}
#vantruot p{
    position: absolute;
    width: 100px;
    left: 450px;
    top: 465px;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Lexend';
}
#list{
    position: absolute;
    left: 130px;
    top: 520px;
}
#list input{
    width: 40px;
    height: 2px;
    margin: 5px;
    border: 0px solid #bacbdd;
}
.brand{
    position: absolute;
    width: 1440px;
    height: 147px;
    left: 40px;
    top: 800px;
    clear: both;
    background-color: white;
}
.brand div{
    position: absolute;
    width: 1100px;
    height: 67px;
    left: 129px;
    padding-top:40px ;
    padding-bottom: 40px;
}
.brand div img{
    margin-right: 72px;
}
.brand div img:hover{
    background-color: rgb(240, 234, 234);
}
.brand p{
    position: absolute;
    margin-left: 1210px;
    top: 54px;

}
.brand p input{
    width: 40px;
    height: 1px;
    padding: 0px;
    border: 0px;
    background: gray;
}
/* Fashion trending */
.bdfashion{
    position: absolute;
    width: 1440px;
    height: 914px;
    background-color: #FBFBFB;
    left: 40px;
    top: 947px;
}
.fashion{
    position: absolute;
    width: 1180px;
    height: 654px;
    padding: 130px;
}
#content input{
    position: absolute;
    width: 132px;
    height: 38px;
    background-color: black;
    color: white;
}
#trending{
    position: absolute;
    width: 420px;
    height: 50px;
} 
#hoody{
    position: absolute;
    width: 697px;
    height: 500px;
    left: 130px;
    top: 284px;;
}
#hoody img{
    position: absolute;
    top: 4px;
}
#content{    
    position: absolute;
    left: 433px;
    top: 220px;
}
#content #content1{
    position: absolute;
    font-family: Lexend;
    font-size: 120px;
    line-height: 150px;
    width: 850px;
}
#content #content1 span{
    text-shadow: 2px 1px 5px black;
    box-sizing: border-box;
    color: white;
    padding-left: 204px;
}
#content #content2{
    position: absolute;
    left: 212px;
    top: 410px;
    width: 280px;
    height: 36px;
    font-size: 14px;
    line-height: 17px;
}
#content input{
    position: absolute;
    left: 212px;
    top: 530px;
    width: 132px;
    height: 38px;
    background-color: black;
    color: white
}
#shoes{
    position: absolute;
    height: 295px;
    width: 225.33px;
    left: 1005px;
    top: 520px;
}
#hat{
    position: absolute;
    height: 295px;
    width: 225.33px;
    left: 1127px;
    top: 302px;
}
/**/
.bdsession{
    position: absolute;
    background: #FBFBFB;
    width: 1440px;
    height: 816px;
    top: 1861px;
    left: 40px;
}
.contentss{
    position: absolute;
    width: 1179.45px;
    height: 586px;
    padding-left: 130px;
    padding-top: 50px;
}
#pack{
    position: absolute;
    width: 960px;
    height: 50px;
}
#pack span{
    font-family: Lexend;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
}
.contentss .shoes{
    position: absolute;
    width: 580px;
    height: 436px;
    top: 190px;
}
.converse{
    position: absolute;
    width: 532px;
    height: 361px;
    left: 680px;
    top: 224px;
    background-color: white;
    box-shadow: 1px 1px 5px black;
}
.converse p{
    position: absolute;
    background-color: white;
    top: 304px;
    left: 30px;
}
.nut{
    position: absolute;
    left: 750px;
    top: 180px;
}
.nut input{
    width: 40px;
    height: 2px;
    padding: 0px;
    border: transparent;
}
.butarrow{
    position: absolute;
    left: 1273px;
    top: 350px;
    width: 55px;
}
.butarrow button{
    border: transparent;
    background-color: white;
}
.routeone{
    position: absolute;
    width: 1440px;
    height: 560px;
    background-color: #dce6ff;
    left: 40px;
    top: 2677px;
}
.routeone #latest{
    position: absolute;
    width: 395px;
    height: 370px;
    left: 130px;
    top: 100px;
}
.routeone nav{
    position: absolute;
    width: 770px;
    height: 430px;
    left: 507px;
}
.routeone #latest input{
    position: absolute;
    width: 121px;
    height: 38px;
    color: white;
    background-color: black;
    top: 332px;
}
.routeone nav a img{
    position: absolute;
}
/**/
.container4{
    position: absolute;
    width: 1440px;
    height: 1354px;
    left: 40px;
    top: 3237px;
}
.container4 .text{
    position: absolute;
    left: 130px;
    top: 180px;
}
.container4 .text span{
    font-family: Lexend;
    font-size: 40px;
    line-height: 50px;
}
.container4 #text{
    position: absolute;
    top: 305px;
    left: 20px;
}
/**/
.container4 .card1{
    position: absolute;
    width: 280px;
    height: 382px;
    left: 130px;
    top: 330px;
    box-shadow: 1px 1px 5px rgb(46, 45, 45);
    transition: 1s;
}
.container4 .card1:hover{
    transform: scale(1.05,1.05);
}
.card1 #text1 a{
    position: absolute;
    text-decoration: none;
    color: black;
}
#text1{
    position: absolute;
    width: 250px;
    left: 20px;
    top: 305px;
}
/**/
.container4 .card2{
    position: absolute;
    width: 280px;
    height: 382px;
    left: 430px;
    top: 330px;
    box-shadow: 1px 1px 5px rgb(46, 45, 45);
    transition: 1s;
}
.container4 .card2:hover{
    transform: scale(1.05,1.05);
}
.card2 #text2 a{
    position: absolute;
    text-decoration: none;
    color: black;
}
#text2{
    position: absolute;
    width: 250px;
    left: 20px;
    top: 305px;
}
/**/
.container4 .card3{
    position: absolute;
    width: 280px;
    height: 382px;
    left: 730px;
    top: 330px;
    box-shadow: 1px 1px 5px rgb(46, 45, 45);
    transition: 1s;
}
.container4 .card3:hover{
    transform: scale(1.05,1.05);
}
.card3 #text3 a{
    position: absolute;
    text-decoration: none;
    color: black;
}
#text3{
    position: absolute;
    width: 250px;
    left: 20px;
    top: 305px;
}
/**/
.container4 .card4{
    position: absolute;
    width: 280px;
    height: 382px;
    left: 1030px;
    top: 330px;
    box-shadow: 1px 1px 5px rgb(46, 45, 45);
    transition: 1s;
}
.container4 .card4:hover{
    transform: scale(1.05,1.05);
}
.card4 #text4 a{
    position: absolute;
    text-decoration: none;
    color: black;
}
#text4{
    position: absolute;
    width: 250px;
    left: 20px;
    top: 305px;
}
/**/
.container4 .card5{
    position: absolute;
    width: 280px;
    height: 382px;
    left: 130px;
    top: 792px;
    box-shadow: 1px 1px 5px rgb(46, 45, 45);
    transition: 1s;
}
.container4 .card5:hover{
    transform: scale(1.05,1.05);
}
.card5 #text5 a{
    position: absolute;
    text-decoration: none;
    color: black;
}
#text5{
    position: absolute;
    width: 250px;
    left: 20px;
    top: 305px;
}
/**/
.container4 .card6{
    position: absolute;
    width: 280px;
    height: 382px;
    left: 430px;
    top: 792px;
    box-shadow: 1px 1px 5px rgb(46, 45, 45);
    transition: 1s;
}
.container4 .card6:hover{
    transform: scale(1.05,1.05);
}
.card6 #text6 a{
    position: absolute;
    text-decoration: none;
    color: black;
}
#text6{
    position: absolute;
    width: 250px;
    left: 20px;
    top: 305px;
}
/**/
.container4 .card7{
    position: absolute;
    width: 280px;
    height: 382px;
    left: 730px;
    top: 792px;
    box-shadow: 1px 1px 5px rgb(46, 45, 45);
    transition: 1s;
}
.container4 .card7:hover{
    transform: scale(1.05,1.05);
}
.card7 #text7 a{
    position: absolute;
    text-decoration: none;
    color: black;
}
#text7{
    position: absolute;
    width: 250px;
    left: 20px;
    top: 305px;
}
/**/
.container4 .card8{
    position: absolute;
    width: 280px;
    height: 382px;
    left: 1030px;
    top: 792px;
    box-shadow: 1px 1px 5px rgb(46, 45, 45);
    transition: 1s;
}
.container4 .card8:hover{
    transform: scale(1.05,1.05);
}
.card8 #text8 a{
    position: absolute;
    text-decoration: none;
    color: black;
}
#text8{
    position: absolute;
    width: 250px;
    left: 20px;
    top: 305px;
}
/**/

.container5{
    position: absolute;
    width: 1440px;
    height: 976px;
    left: 40px;
    top: 4591px;
}
/**/
.container5 .card1{
    position: absolute;
    left: 130px;
}
.container5 .text{
    position: absolute;
    left: 100px;
    top: 80px;
    color: white;
}
.container5 .text input{
    position: absolute;
    width: 121px;
    height: 38px;
    top: 220px;
}
/**/
.container5 .card2{
    position: absolute;
    left: 730px;
}
.container5 .text{
    position: absolute;
    left: 100px;
    top: 80px;
    color: white;
}
.container5 .text input{
    position: absolute;
    width: 121px;
    height: 38px;
    top: 220px;
}
/**/
.container5 .card3{
    position: absolute;
    left: 130px;
    top: 438px;
}
/**/
.container5 .card4{
    position: absolute;
    left: 830px;
    top: 420px;
    width: 400px;
}
.container5 .card4 input{
    position: absolute;
    width: 121px;
    height: 38px;
    color: white;
    background-color: black;
    top: 346px;
}
.container6{
    position: absolute;
    width: 1440px;
    height: 236px;
    left: 40px;
    top: 5567px;
}
.container6 .text{
    position: absolute;
    left: 330px;
    top: 88px;
}
.container6 form{
    position: absolute;
    width: 480px;
    height: 38px;
    left: 630px;
    top: 120px;
    box-shadow: 0px 0px 5px gray;
}/**/
footer{
    position: absolute;
    width: 1440px;
    height: 523px;
    left: 40px;
    top: 5803px;
    color: white;
    background-color: #1A1A1A;
}
footer #cordes{
    position: absolute;
    font-family: Germania One;
    font-size: 43px;
    line-height: 50px;
}
footer .about{
    position: absolute;
    left: 130px;
    top: 190px;
    width: 300px;
}
.about nav a{
    text-decoration: none;
    color: white;
    line-height: 35px;
}
/**/
footer .store{
    position: absolute;
    left: 530px;
    top: 190px;
    width: 200px;
    height: 250px;
}
.store div{
    position: absolute;
    width: 200px;
    right: 28px;
}
.store div a{
    text-decoration: none;
    color: white;
}
/**/
footer .pay{
    position: absolute;
    left: 830px;
    top: 190px;
    width: 200px;
}
.pay a{
    position: absolute;
    color: white;
    text-decoration: none;
}
/**/
footer .social{
    position: absolute;
    left: 1130px;
    top: 190px;
    width: 200px;
}
.social a{
    background-color: white;
    color: #1A1A1A;
    margin: 5.5px;
}
/**/
footer .card{
    position: absolute;
    width: 1180px;
    height: 35px;
    left: 130px;
    top: 468px;
    padding-top: 20px;
    border-top: 1px solid white;
    font-size: 12px;
    line-height: 15px;
}





